
    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Sample Job Listing</h2>
            <p class="blog-post-meta">August 22, 2017 by Sameer</p>
            <p class="blog-post-meta">Full Time, Location</p>

            <h5>Job Description</h5>
            <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text
            Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text

            Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text</p>
            
            <hr>
            <h5>Salary</h5>
            <p>$786/hr</p>
            <hr>
            
            <h5>Qualifications</h5>
            <li>B.S. in BS</li>
            <li>Prior Work Experience</li>
            <li>Like to Work</li>
            <li>Sample Text</li>
            <hr>

            <h5>Job Type</h5>
            <p>Full Time</p>
            <hr>
            <h5>Job Ttile</h5>
            <p>HTML Designer</p>

            
          </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-4 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h5>How To Apply</h5>
            <p>Email,Phone, or <a href="#">link</a></p>
            <h5>Contact Info</h5>
            <p>Email: Example@example.com</p>
            <p>Phone: (111)-111-1111</p>

          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
