
<div class="container" >

    <div class="row">


        <div class="col-sm-8 blog-main">


              <div class="blog-post" *ngIf="jobListing && jobListing.length > 0" >
                <h2 class="blog-post-title">{{jobListing[0].title}}</h2>
                <p class="blog-post-meta">August 22, 2017 by {{jobListing[0].firstName}} {{jobListing[0].lastName}}</p>
                <p class="blog-post-meta">{{jobListing[0].jobType}}, {{jobListing[0].location}}</p>

                <h5>Job Description</h5>
                <p>{{jobListing[0].description}}</p>
                
                <hr>
                <h5>Salary</h5>
                <p>{{jobListing[0].salary}}/hr</p>
                <hr>
                
                <h5>Qualifications</h5>
                <li>{{jobListing[0].qualifications}}</li>
                <hr>

                <h5>Job Type</h5>
                <p>{{jobListing[0].jobType}}</p>
                <hr>


                
              </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->


        <div class="col-sm-4 blog-sidebar">

            <div class="sidebar-module sidebar-module-inset" *ngIf="jobListing && jobListing.length > 0" >
                <h5>How To Apply</h5>
                <p>Email,Phone, or <a href="#">link</a></p>
                <h5>Contact Info</h5>
                <p>Email: {{jobListing[0].email}}</p>
                <p>Phone: {{jobListing[0].phone}}</p>

            </div>

        </div>
    </div>
</div>



