
          <div class="blog-post">
            <h2 class="blog-post-title">{{jobInfo.title}}</h2>
            <p class="blog-post-meta">August 22, 2017 by Sameer</p>
            <p class="blog-post-meta">{{jobInfo.jobType}}, {{jobInfo.location}}</p>

            <h5>Job Description</h5>
            <p>{{jobInfo.description}}</p>
            
            <hr>
            <h5>Salary</h5>
            <p>${{jobInfo.salary}}/hr</p>
            <hr>
            
            <h5>Qualifications</h5>
            <li>{{jobInfo.qualifications}}</li>
            <hr>

            <h5>Job Type</h5>
            <p>{{jobInfo.jobType}}</p>
            <hr>


            
          </div><!-- /.blog-post -->


